<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>

    <wicket:container wicket:id="diffView">
    <div class="container">

        <h3>Diff With Original</h3>

        <div class="pull-right">
            <button class="btn" wicket:id="originalPasteLink">Original Paste</button>
        </div>
        <div wicket:id="highlightedContent">[highlightedContent]</div>

    </div>

        <hr />
    </wicket:container>


    <div class="container">

    <div wicket:id="spamAlert" class="alert alert-error">
        <p><i class="icon-warning-sign"></i> Post has been flagged as spam</p>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="span6">
            <strong>Language: <wicket:container wicket:id="type">[type]</wicket:container></strong>
        </div>

        <div class="span6">
            <div class="pull-right">
            <div class="btn-group">
              <wicket:container wicket:id="hasImage"><button class="btn btn-success" wicket:id="imageLocation"><i class="icon-file icon-white"></i> Image</button></wicket:container>
              <button class="btn" wicket:id="rawLink">Raw</button>
              <button class="btn" wicket:id="downloadLink">Download</button>
              <button class="btn btn-success" wicket:id="repasteLink">Repaste</button>
              <wicket:remove>
              <button class="btn"><a class="text-warning" onclick="return confirm('Are you sure this paste is SPAM?');"><span>[markAbuseLabel]</span></a></button>
              </wicket:remove>
            </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="container">
            <div wicket:id="highlightedContent">[highlightedContent]</div>
        </div>
        <div class="pull-right" wicket:id="viewCountContainer">
        <p><small>Viewed: <span wicket:id="viewCount">[viewCount]</span> time(s)</small></p>
        </div>
    </div>
    <wicket:container wicket:id="hasChildPastes">
        <div class="container">
            <h3>Paste Replies</h3>
            <div class="row">
                <ul wicket:id="childPastes">
                    <li><a wicket:id="viewChildPaste">Paste #<wicket:container wicket:id="pasteId">[pasteId]</wicket:container></a> <small wicket:id="posted">[posted]</small></li>
                </ul>
            </div>
        </div>
    </wicket:container>

    <wicket:child/>

    </div>

</wicket:extend>
</html>