<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>

    <wicket:container wicket:id="diffView">
    <div class="container">

        <h3>Diff With Original</h3>

        <button class="btn"><a wicket:id="originalPasteLink">Original Paste</a></button>

        <div wicket:id="highlightedContent">[highlightedContent]</div>

    </div>
    </wicket:container>


    <div class="container">

    <div wicket:id="spamAlert" class="alert alert-error">
        <p><i class="icon-warning-sign"></i> Post has been flagged as spam - mark again to remove from view</p>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="span6">
            <strong>Language: <wicket:container wicket:id="type">[type]</wicket:container></strong>
        </div>

        <div class="span6">
            <div class="pull-right">
            <div class="btn-group">
              <wicket:container wicket:id="hasImage"><button class="btn btn-success" wicket:id="imageLocation"><i class="icon-file icon-white"></i> Image</button></wicket:container>
              <button class="btn" wicket:id="rawLink">Raw</button>
              <button class="btn" wicket:id="downloadLink">Download</button>
              <button class="btn"><a wicket:id="markAbuseLink" class="text-warning" onclick="return confirm('Are you sure this paste is SPAM?');"><span wicket:id="markAbuseLabel">[markAbuseLabel]</span></a></button>
            </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="container">
            <div wicket:id="highlightedContent">[highlightedContent]</div>
        </div>
    </div>

    <wicket:container wicket:id="hasChildPastes">
        <div class="container">
            <h3>Paste Replies</h3>
            <div class="row">
                <ul wicket:id="childPastes">
                    <li><a wicket:id="viewChildPaste">Paste #<wicket:container wicket:id="pasteId">[pasteId]</wicket:container></a> <small wicket:id="posted">[posted]</small></li>
                </ul>
            </div>
        </div>
    </wicket:container>

    <div class="block">

        <form wicket:id="replyForm">
        <div class="block_head">
            <h3>Reply to Paste</h3>
        </div>
        <div class="block_content">
            <a name="replytopaste"></a>

            <textarea wicket:id="content" id="rawPaste" wrap="off"
                      style="height: 250px; width: 100%; background-color: #eeeeee; border: 1px solid #555;"></textarea>

            <span style="display: none; visibility: hidden;"><input wicket:id="email" /></span>

            <p>&nbsp;</p>

            <p class="right" align="right">
                <input type="submit" class="submit long" value="Reply" />
            </p>

        </div>
        </form>

    </div>

    <wicket:child/>

    </div>

</wicket:extend>
</html>