<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <div id="paste_options">
        <ul class="left">
            <li>language:</li>
            <li class="fieldValue" wicket:id="type">blah</li>
            <li>(<a wicket:id="rawLink">Raw</a> or <a wicket:id="downloadLink">Download</a>)</li>
        </ul>

        <div style="float:right; margin-top: 1em; padding-right: 30px;">
            <a wicket:id="markAbuseLink"><span wicket:id="markAbuseLabel">[markAbuseLabel]</span></a>&nbsp;&nbsp;
            <a href="#replytopaste">Reply to Paste</a>
            </div>

    </div>
    <div id="paste_content">
        <div id="textLeft"></div>
        <div id="textRight"></div>
        <div id="textCenter" class="view">
            <div wicket:id="highlightedContent">[highlightedContent]</div>

        </div>
    </div>

    <p>&nbsp;</p>

    <div id="paste_content">
        <div id="textLeft"></div>
        <div id="textRight"></div>


        <div id="textCenter">
            <a name="replytopaste"></a>

            <p><strong>Reply to paste:</strong></p>

            <textarea wicket:id="content" id="rawPaste" wrap="off"
                      style="height: 250px; width: 100%; background-color: #eeeeee; border: 1px solid #555;"></textarea>
        </div>
    </div>

    <wicket:child/>

</wicket:extend>
</html>