body {
	background: #BEC3C6 url(images/bg.jpg) repeat-x;
	color: #555;
	font-family: Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #4b017e;
	text-decoration: none;
}

a:hover {
	color: #8b2190;
	text-decoration: underline;
}

textarea, input, select {
	color: #555;
}

#leftSide {
	background: url(images/bg_left.jpg) no-repeat;
	width: 48px;
	height: 600px;
	float: left;
}

#rightSide {
	background: url(images/bg_right.jpg) no-repeat;
	width: 48px;
	height: 600px;
	float: right;
}

#center {
	background-color: white;
	margin: 20px 48px 0 48px;
}

#header {
	background: url(images/header_bg.jpg);
	height: 91px;
}

#header #logo {
	height: 91px;
	width: 261px;
	background: url(images/header_logo.jpg);
}

#header #logo a .logo {
	height: 91px;
	width: 261px;
}

#nav {
	height: 31px;
}

#header_bottom {
	height: 8px;
	background: url(images/header_bottom.jpg) repeat-x;
}

#content {
	float: left;
	width: 100%;
    min-height: 500px;
	border-bottom: 1px solid #BEC3C6;
	padding-bottom: 40px;
}

#footer_left {
	background: url(images/footer_bg_left.jpg) no-repeat;
	height: 87px;
	width: 66px;
	float: left;
}

#footer_right {
	background: url(images/footer_bg_right.jpg) no-repeat;
	height: 87px;
	width: 66px;
	float: right;
}

#footer_center {
	background: url(images/footer_bg.jpg) repeat-x;
	height: 87px;
	margin-left: 66px;
	margin-right: 66px;
}

#menus {
	margin-left: -40px;
	margin-top: -12px;
}

#menus li {
	display: inline;
	list-style: none;
}

#menus li a {
	background: transparent url(images/menu.gif) no-repeat;
	display: block;
	color: #382E1F;
	height: 31px;
	line-height: 31px;
	padding: 0 20px;
	margin-left: -10px;
	text-decoration: none;
	font-size: 11px;
	float: left;
	z-index: 1;
}

#menus li a:hover {
	background-position: 0 -31px;
}

#menus li.current_page_item a,
#menus li.current-cat a {
	background-position: 0 -62px;
}

#menus li a.home {
	background-position: 0 -93px;
	width: 45px;
	padding: 0;
	margin-left: 0;
	text-indent: -999em;
}

#menus li a.home:hover {
	background-position: 0 -124px;
}

#menus li.current_page_item a.home {
	background-position: 0 -155px;
}

#menus li a.lastmenu:hover {
	background-position: 0 0;
}

#paste_options {
	float: left;
	clear: right;
	width: 100%;
}

#paste_options ul {
	float: right;
	margin-left: -40px;
	padding-right: 25px;
}

#paste_options li {
	display: inline;
	list-style: none;
}

#paste_options ul.left {
	float: left;
    margin-left: -15px;
}

#paste_options li.fieldValue {
    font-weight: bold;
    color: #444;
}

#paste_content {
	float: left;
	width: 100%;
}

#paste_content textarea {
	height: 400px;
	width: 100%;
	background-color: #eeeeee;
	border: 1px solid #555;
}

#paste_image {
    float: left;
}

#paste_submit {
	padding: 10px 25px 25px 0;
	float: right;
}

.clear {
	clear: both;
}

#textLeft {
	width: 25px;
	float: left;
}

#textRight {
	width: 25px;
	float: right;
}

#textCenter {
	margin: 0 25px 0 25px;
}

#textCenter.view {
    border: 1px solid #555;
    overflow: auto;
    padding: 5px 0 5px 0;
}

#textCenter.view div {
    padding: 2px 5px 2px 5px;
    margin: 0;
}

#textCenter div.highlight {
    background-color: #ebecec;
}

#textCenter pre {
    padding: 0;
    margin: 0;
}

#textCenter li {
    height: 20px;
}

#copyright {
	float: left;
	font-size: 8pt;
	padding-top: 10px;
/*
	padding-left: 35px;
*/
}

#logo_footer {
	position: relative;
	top: -87px;
	left: 60px;
}

#poweredby_footer {
    float: right;
/*
    margin-top: -20px;
*/
    margin-top: 5px;
    vertical-align: bottom;
}

.historyItemHeader {
	background-color: #e4e8eb;
	height: 23px;
    padding: 5px 15px 0 15px;
}

.historyItemView {
	float: left;
}

.historyItemTime {
	float: right;
}

.historyItemMore {
    padding-left: 15px;
}

.historyItem {
	margin: 0 25px 0 25px;
}

.historyItem .view {
    border: 1px solid #555;
    overflow: auto;
    margin-top: 30px;
    padding: 0 0 5px 0;
}

.historyItem .view pre {
    padding: 0;
    margin: 5px 30px 0 30px;
}

.historyItem .view pre ol {
    padding: 0;
    margin: 0;
}

.historyItem .view pre li {
    padding: 0;
    margin: 0;
    height: 20px;
}

.historyItem div.highlight {
    background-color: #ebecec;
}

.historyItemLines {
	float: left;
    padding-left: 10px;
}

div .pageNav {
	float: right;
	height: 30px;
	margin-right: 25px;
}

div .pageNav a {
	padding: 3px;
}

.navContainer {
	padding-top: 20px;
}

.historyItemHeaderBottom {
	height: 6px;
	background: url(images/header_bottom.jpg) repeat-x;
}

li .feedbackPanelERROR {
    background-color: #feeccc;
    border: 1px solid red;
    padding: 3px;
}

.pluginContent {
    background-color: #eeeeee;
    border: 1px solid #555;
    margin-top: 40px;
    padding: 10px;
}

.pluginContent .pluginHeader {
    font-size: 18pt;
    margin-bottom: 15px;
}

.pluginContent .pluginText {
    font-size: 10pt;
}

#textCenter ul li {
    height: 50px;
    width: 100%;
}