<!DOCTYPE html>
<html wicket:id="html" xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Keystroke</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>?</strong></td>
            <td>Show Help</td>
        </tr>
        <tr>
            <td><strong>N</strong></td>
            <td>New Paste</td>
        </tr>
        <tr>
            <td><strong>H</strong></td>
            <td>History</td>
        </tr>
        <tr>
            <td><strong>R</strong></td>
            <td>Reply Paste</td>
        </tr>
        <tr>
            <td><strong>Left</strong></td>
            <td>Previous Page</td>
        </tr>
        <tr>
            <td><strong>Right</strong></td>
            <td>Next Page</td>
        </tr>
        <tr>
            <td><strong>Shift + Left</strong></td>
            <td>First Page</td>
        </tr>
        <tr>
            <td><strong>Shift + Right</strong></td>
            <td>Last Page</td>
        </tr>
        <tr>
            <td><strong>Cmd + S, Ctrl + S</strong></td>
            <td>Submit Paste</td>
        </tr>
        </tbody>
    </table>
</wicket:extend>
</html>