<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>mysticpaste</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/applicationContext.xml</param-value>
    </context-param>

    <context-param>
        <param-name>wicket.configuration</param-name>
        <param-value>DEPLOYMENT</param-value>
    </context-param>

	<filter>
		<filter-name>wicket.mysticpaste</filter-name>
 		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>com.mysticcoders.mysticpaste.MysticPasteApplication</param-value>
        </init-param>
 	</filter>

    <filter>
		<filter-name>wicket.session</filter-name>
		<filter-class>org.apache.wicket.protocol.http.servlet.WicketSessionFilter</filter-class>
        <init-param>
            <param-name>filterName</param-name>
            <param-value>wicket.mysticpaste</param-value>
        </init-param>
	</filter>

	<filter>
       <filter-name>open.hibernate.session.in.view</filter-name>
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter-mapping>
       <filter-name>open.hibernate.session.in.view</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>


	<filter-mapping>
		<filter-name>wicket.mysticpaste</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <!-- to use hibernate sessions within any custom servlets we mount under /servlet/ -->
    <filter-mapping>
        <filter-name>wicket.session</filter-name>
        <url-pattern>/servlet/*</url-pattern>
    </filter-mapping>

    
    <servlet>
        <servlet-name>PluginServlet</servlet-name>
        <servlet-class>com.mysticcoders.mysticpaste.web.servlet.PluginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PluginServlet</servlet-name>
        <url-pattern>/servlet/plugin</url-pattern>
    </servlet-mapping>
    

	<!--
		The SpringWebApplicationFactory will need access to a Spring
		Application context, configured like this...
	-->

	<listener>
		<listener-class> 
		  org.springframework.web.context.ContextLoaderListener 
		</listener-class>
	</listener>

</web-app>
